.Footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
    background-color: #1a2b49;
}
.footer-item{
    color: white;
    padding: 20px;
}
 .footer-item-list{
    padding: 5px;
 }
 .footer-item-title{
    margin-bottom: 21px;
 }

 .footer-item-link{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
 }
 .footer-item-link:hover{
    text-decoration: underline;
 }
 /* icons */
 .footer-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
 }
 .footer-icons .icon{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }
 .footer-icons .icon i{
    color: #1a2b49;
    font-size: 32px ;
 }

 .select-boxs{
   padding: 10px  ;

 }
 .selected{
   margin-bottom: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px;
  
 }
 .box{
   margin-bottom: 10%;
    width: 300px; 
   height: 70px;
   display: flex;
   flex-direction: column;
  
  

 }
 
 .select-box-label{
   font-size: 17px;
   font-weight: 600;
   color: white;
   margin-bottom: 2%;
 }

 .select-box-input{
   
   padding: 10px;
   font-family: sans-serif;
   font-size: medium;
   font-weight: 500;
   border-radius: 7px;
   outline: none;
  
 }
 .op{
   font-size: large;
   font-family: sans-serif;
   font-weight: 500;
 }

 .footer-copy-right{
   color: white;
   
   font-weight: 400;
   margin-top: 25px;
 }
 @media(max-width:720px){
   .Footer{
      flex-direction: column;
   }
 }